name: Python package

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install torch numpy scipy
    - name: Lint with flake8
      run: |
        pip install flake8
        flake8 .
    - name: Test with pytest
      run: |
        pip install pytest
        pytest